<script>
    function openPage() {
        window.location.href = 'registro.html';
    }
  </script>
  <script>
    function openPage1() {
        window.location.href = 'login.html';
    }
  </script>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <button class="nav-link active" onclick="openPage1()" aria-current="page">Login</button>
            </li><br>
            <li class="nav-item">
              <button class="nav-link active" onclick="openPage()" aria-current="page">Registro</button>
            </li><hr>
          </ul>
        </div>
      </div> 
    </nav>
    <font size=250 ><center><strong>Clinica Pediatrica</strong></center></font>