{%extends "./layout/base.html"%}
{%block titulo%}
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='jogo.css') }}"> 
{%endblock%}
{%block conteudo%}
    <main>
        <h1>JOGO DA VELHA</h1>
        <hr />
        <div class="game">
            <button data-i="1"></button>
            <button data-i="2"></button>
            <button data-i="3"></button>
            <button data-i="4"></button>
            <button data-i="5"></button>
            <button data-i="6"></button>
            <button data-i="7"></button>
            <button data-i="8"></button>
            <button data-i="9"></button>
        </div>
        <h2 class="currentPlayer"></h2>
    </main>
{%endblock%}

{%block script%}
<script src="{{ url_for('static', filename='script.js') }}"></script>
{%endblock%}