{% extends './layout/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <style>
    /* Estilos CSS aqui */
    .checkboss {
      font-size: 12px;
      color: #888;
    }
  </style>
</head>
<body>
  <h1>Login</h1>
  
  <form>
    <label for="username">Nome de usuário:</label>
    <input type="text" id="username" name="username"><br><br>
    
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password"><br><br>
    
    <label for="patient">Sou paciente</label>
    <span class="checkboss">checkboss</span>
    <input type="checkbox" id="patient" name="patient"><br><br>
    
    <input type="submit" value="Iniciar sessão">
  </form>
</body>
</html>
{% endblock %}
