{% extends './layout/base.html' %}

{% block titulo %}
  <title>Sou Paciente</title>
{% endblock %}

{% block estilo %}
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    h2 {
      text-align: center;
    }

    .menu {
      max-width: 600px;
      margin: 80px auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .menu-item {
      margin-bottom: 10px;
    }

    .menu-item a {
      display: block;
      padding: 8px;
      background-color: #4caf50;
      color: #ffffff;
      text-decoration: none;
      border-radius: 3px;
      text-align: center;
      transition: transform 0.3s ease-in-out;
    }

    .menu-item a:hover {
      transform: scale(1.1);
    }
  </style>
{% endblock %}

<body>
  <h2>Página do Paciente</h2>
  <div class="menu">
    <div class="menu-item">
      <a href="resultados_exames.html">Resultados dos Exames</a>
    </div>
    <div class="menu-item">
      <a href="histórico_medico.html">Registro Médico</a>
    </div>
    <div class="menu-item">
      <a href="marcar_consulta.html">Marcar Consulta</a>
    </div>
    <div class="menu-item">
      <a href="home.html">Home</a>
    </div>
  </div>
</body>
</html>
