<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.0-dist\css\bootstrap.min.css') }}">
    {%block estilo %}
    {%endblock %}
    {%block titulo %}
    {%endblock %}
</head>
<body>
    {% block conteudo %}
    {% endblock %}

    <script src="{{ url_for('static', filename='bootstrap-5.3.0-dist\js\bootstrap.min.js') }}" type="text/javascript"></script>
    {% block script %}
    {% endblock %}
</body>
</html>