/* Store this code in 'style.css' file inside the 'static' folder*/

.border{
    padding: 80px 50px;
    width: 500px;
    height: 550px;
    border: 1px solid #b6e7c4;
    border-radius: 10px;
    background-color: #63c27e;
}

.btn {
    padding: 10px 10px;
    background-color: #cf9313;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    border-radius: 10px;
}

.textbox{
    padding: 0.5px 0.5px;
    background-color: #e0f0dc;
    text-decoration: #604d4d;
    border-radius: 10px;
}

::placeholder {
    color: #1e1c1c;
    opacity: 0.5px;
    font-style: normal;
    font-weight: bold;
}

.word{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
}

.bottom{
    color: #eef2e9;
    font-style: oblique;
    font-weight: bold;
}